@model IEnumerable<dotnetPetShopProj.Models.Animal>
@{
    ViewData["Title"] = "Catalogue";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/CatalogueTableUpdate.js"></script>

</head>



<select class="filterText" onchange="filterText()">

    <option value="all"> All</option>

    @foreach (var category in @ViewBag.AllCategories)
    {
        <option value="@category.Name"> @category.Name</option>
    }
</select>

<div class="container">
    <table class="table" #animalByCat>
        <thead>
            <tr>
                <th>name</th>
                <th>age</th>
                <th>id</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var animal in @Model)
            {
                <tr class="content">
                    <td>@animal.AnimalName</td>
                    <td>@animal.Age</td>
                    <td>@animal.AnimalId</td>
                    <td class="cat">@animal.AnimalCategory.Name</td>
                </tr>
            }


        </tbody>
    </table>
</div>



